
doctype html
html
  head
    meta(charset='UTF-8')
    meta(http-equiv='x-ua-compatible' content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
    meta(name='referrer', content='always')
    title #{title}
    link(href='//developer.ringcentral.com/assets/images/favicon.ico?v=20181214-0738', type='image/vnd.microsoft.icon', rel='shortcut icon')
  body
    #bg
    #container.hide
    #content-loading(style='text-align:center;padding:30px;font-size:24px') loading...
    script.
      window.rc = !{JSON.stringify(_global)}
    script(crossorigin, src='//unpkg.com/@ringcentral/sdk@latest/dist/ringcentral.js')
    script.
      window.rc.onload = function() {
        document.body.removeChild(document.getElementById('content-loading'));
        document.getElementById('container').classList.remove('hide')
        RingCentral.SDK.handleLoginRedirect()
      };
      window.addEventListener('load', window.rc.onload)

